/.idea
/util/data_migration/inputs/*
!/util/data_migration/inputs/demo_data/
/util/data_migration/config-*
/storage
/webassets
/venv
.local
.minikubevenv
.bash_history
.cache
.ipython
.vscode
.pdbhistory
*.code-workspace
.python_history