[submodule "ckan"]
	path = ckan
	url = git@github.com:ckan/ckan.git
[submodule "ckanext-dms"]
	path = ckanext-dms
	url = git@github.com:fjelltopp/ckanext-dms.git
[submodule "dms-utils"]
	path = dms-utils
	url = git@github.com:fjelltopp/dms-utils.git
